.DS_Store
.vscode/
api
calls/logs
calls/not_for_git
chat
conferences/logs
conferences/not_for_git
fax
ip_messaging
lookups
messages/logs
messages/not_for_git
monitor
notify
outgoing_caller_ids/logs
outgoing_caller_ids/not_for_git
preview
pricing
proxy
recording/logs
recording/not_for_git
studio
sync
taskrouter
trunking
verify
video
wireless