.DS_Store
.vscode/
api
calls/logs
calls/not_for_git
chat/logs
chat/not_for_git
chat/create_binding_type_apn.py
chat/create_binding_type_gcm.py
chat/fetch_binding.py
chat/list_bindings.py
conferences/logs
conferences/not_for_git
fax/logs
fax/not_for_git
ip_messaging
keys/logs
keys/not_for_git
lookup/logs
lookup/not_for_git
messages/logs
messages/not_for_git
monitor
notify
outgoing_caller_ids/logs
outgoing_caller_ids/not_for_git
preview
pricing
proxy
recording/logs
recording/not_for_git
studio
sync
taskrouter
trunking
verify
video
wireless
